<div class="container mt-5 mb-5">
    <div class="d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let card of cardData">
            <mat-card class="m-1 image-card text-center">
                <a [href]="card.url" [matTooltip]="card.tooltip" [matTooltipPosition]="'above'">
                    <img [src]="card.image" />
                </a>
                <mat-card-content>
                    <p>
                        {{card.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions *ngIf="card.github ? true : false">
                    <a mat-raised-button [href]="card.github" class="nav-link text-white mb-2">Git Hub project File</a>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</div>