<section id="reviews" *ngIf="referencesData">
    <div class="container-fluid">
        <div class="container d-flex flex-column justify-content-center h-100">
            <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
                <ng-template ngbSlide *ngFor="let ref of referencesData">
                    <div class="container reviews w-75 d-flex flex-column align-content-center">
                        <div class="pic">
                            <img [src]="ref.image" />
                        </div>

                        <p class="description lead">
                            {{ ref.description }}
                        </p>
                        <div class="reviews-prof">
                            <span class="title">{{ ref.author }}</span>
                            <small>
                                <a [href]="ref.link" style="color: grey; text-decoration: none;">{{ ref.linkText }}</a>
                            </small>
                        </div>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</section>
