<app-navigation></app-navigation>

<router-outlet></router-outlet>

<!-- 
<app-showcase></app-showcase>
<app-about></app-about> -->

<!--
    <section id="skillset">
        <div
            class="container-fluid"
            style="background-color: rgba(0, 0, 0, 0.8);"
        >
            <div class="container">
                <div class="row">
                    <div class="col-md-2 offset-md-5 col-lg-3 offset-lg-4">
                        <h3 class="text-center">Skillset</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div
                                class="col-sm-12 col-md-6 offset-md-4 col-lg-4 offset-lg-0 text-center text-md-left"
                            >
                                <h4>Design Skills</h4>
                                <ul class="list-unstyled">
                                    <li>Adobe Photoshop</li>
                                    <li>Adobe Illustrator</li>
                                </ul>
                            </div>
                            <div
                                class="col-sm-12 col-md-12 col-lg-4 text-center text-md-left"
                            >
                                <h4>Development Skills</h4>
                                <ul class="list-unstyled">
                                    <li>HTML5</li>
                                    <li>CSS3</li>
                                    <li>SASS</li>
                                    <li>JavaScript</li>
                                    <li>jQuery</li>
                                    <li>Bootstrap</li>
                                    <li>Material Design</li>
                                    <li>Angular 6+</li>
                                    <li>MEAN stack</li>
                                    <li>
                                        MySQL | SQL | DB2 | MongoDB | AWS |
                                        Firebase
                                    </li>
                                </ul>
                            </div>
                            <div
                                class="col-sm-12 col-md-2 offset-md-8 col-lg-4 offset-lg-0 text-center text-md-left"
                            >
                                <h4>Personal Skills</h4>
                                <ul class="list-unstyled">
                                    <li>Basketball</li>
                                    <li>Gaming</li>
                                    <li>Martial Arts</li>
                                    <li>Snoozing</li>
                                    <li>Studying</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <div
            class="container d-flex flex-column justify-content-center align-content-center h-100"
        >
            <div class="row">
                <div class="col-md-2 offset-md-5 col-lg-3 offset-lg-4">
                    <h3 class="text-center">Portfolio</h3>
                </div>
            </div>

            <div class="row">
                <div
                    class="col-md-2 offset-md-5 col-lg-1 d-flex justify-content-center align-content-center"
                >
                    <button
                        class="btn btn-primary filter-button mr-1"
                        data-filter="all"
                    >
                        All
                    </button>
                    <button
                        class="btn btn-primary filter-button mr-1"
                        data-filter="websites"
                    >
                        Application & Websites
                    </button>
                    <button
                        class="btn btn-primary filter-button mr-1"
                        data-filter="projects"
                    >
                        WIP Projects
                    </button>
                </div>
            </div>
            <br />
            <div
                class="p-2 mr-1 d-flex flex-wrap flex-row justify-content-center"
            >
                <div
                    class="gallery_product one col-lg-3 col-md-3 col-sm-3 col-xs-6 filter websites align-self-center"
                >
                    <div id="floated_img" class="one">
                        <a
                            href="http://langhausenenterprises.com/"
                            data-toggle="lightbox"
                            data-gallery="gallery"
                            class="col-md-3"
                        >
                            <img
                                src="assets/img/music-box-1419792_1280.jpg"
                                class="top img-fluid img-responsive rounded"
                        /></a>

                        <h3 class="display-4 text">Langhausen Enterprises</h3>
                    </div>
                </div>
                <div
                    class="gallery_product four col-lg-3 col-md-3 col-sm-3 col-xs-6 filter websites align-self-center"
                >
                    <div id="floated_img" class="four">
                        <a
                            href="https://www.allbluesolutions.com"
                            data-toggle="lightbox"
                            data-gallery="gallery"
                            class="col-md-3"
                        >
                            <img
                                src="assets/img/blue.png"
                                class="top img-fluid img-responsive rounded"
                        /></a>

                        <h3 class="display-4 text">All Blue Solutions</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="reviews">
        <div class="container-fluid">
            <div
                class="container d-flex flex-column justify-content-center align-content-center h-100"
            >
                <div class="row">
                    <div class="col-md-2 offset-md-5 col-lg-3 offset-lg-4">
                        <h3 class="text-center" style="margin: 1.7em 0 1em 0;">
                            Reviews
                        </h3>
                    </div>
                </div>
                <div class="row reviews">
                    <div class="col-sm-12 col-md-12 col-lg-11">
                        <div
                            id="carouselExampleControls"
                            class="carousel slide"
                            data-ride="carousel"
                        >
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item">
                                    <div class="reviews">
                                        <div class="pic">
                                            <img
                                                src="https://placeimg.com/40/40/tech"
                                                alt=""
                                            />
                                        </div>

                                        <p class="description lead">
                                            Melissa came to Verdant ready to
                                            learn. She worked hard and made
                                            herself a valuable part of our UI
                                            team as she continually learned and
                                            grew in her Angular and Typescript
                                            expertise. Her eagerness to
                                            contribute was obvious from day one
                                            and it didn't wane over time. Any UI
                                            team would be lucky to have her.
                                        </p>
                                        <div class="reviews-prof">
                                            <span class="title"
                                                >Frederick Kuhne</span
                                            >
                                            <small>
                                                <a
                                                    href="http://verdantservices.com"
                                                    style="
                                                        color: grey;
                                                        text-decoration: none;
                                                    "
                                                    >Verdant Services</a
                                                >
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <div class="reviews">
                                        <div class="pic">
                                            <img
                                                src="https://placeimg.com/40/40/arch"
                                                alt=""
                                            />
                                        </div>

                                        <p class="description lead">
                                            Melissa did an excellent website
                                            design for my business that has
                                            customers emailing me every day! I
                                            used to get an inquiry email once in
                                            a week to ten days. I now receive
                                            one or two each day! Wow! I have an
                                            extremely talented daughter that
                                            puts her heart in to her projects!
                                            Thanks Melissa!
                                        </p>
                                        <div class="reviews-prof">
                                            <span class="title"
                                                >Terry Langhausen</span
                                            >
                                            <small>
                                                <a
                                                    href="http://langhausenenterprises.com/"
                                                    style="
                                                        color: grey;
                                                        text-decoration: none;
                                                    "
                                                    >Langhausen Enterprises</a
                                                >
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a
                                class="carousel-control-prev"
                                href="#carouselExampleControls"
                                role="button"
                                data-slide="prev"
                            >
                                <span class="sr-only">Previous</span>
                            </a>
                            <a
                                class="carousel-control-next"
                                href="#carouselExampleControls"
                                role="button"
                                data-slide="next"
                            >
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p class="text-muted">
                        <a
                            href="https://seerblazesolutions.com/"
                            style="
                                font-size: 20px;
                                font-family: cursive, fantasy, serif;
                            "
                            >&copy; Melissa S. Langhausen 2019</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div> -->
