<app-navigation></app-navigation>

<router-outlet></router-outlet>

<!-- 
<app-showcase></app-showcase>
<app-about></app-about> -->

<!--
   

    <footer>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p class="text-muted">
                        <a
                            href="https://seerblazesolutions.com/"
                            style="
                                font-size: 20px;
                                font-family: cursive, fantasy, serif;
                            "
                            >&copy; Melissa S. Langhausen 2019</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div> -->
