#Melissa-S-Langhausen-Front-end-web-designer {
  /* height: 620px; */
  background-image: url("../../../assets/img/home-office-336377_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f1f1;
  text-shadow: 2px 2px 2px #000;
  border-radius: 0;
  padding: 0;
  min-height: 620px;

  .container-fluid {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 620px;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2rem;
      color: #5bc0de;
    }
  }
}
