<nav class="fixed-top right-navigation">
    <mat-list id="nav" class="nav flex-column text-right" role="list">
        <mat-list-item *ngFor="let nav of navigation" class="mb-2">
            <button mat-mini-fab color="'accent'" class="m-auto p-auto" (click)="onClickRoute(nav.link)">
                <mat-icon [ngClass]="nav.icon"></mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</nav>

<mat-toolbar class="fixed-top mobile-nav">
    <div class="ml-auto"></div>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
        <mat-list-item *ngFor="let nav of navigation" class="mb-2">
            <button mat-button  class="text-white" (click)="onClickRoute(nav.link)">
                <mat-icon [ngClass]="nav.icon" class="mr-2"></mat-icon>
                <span>{{ nav.name }}</span>
            </button>
        </mat-list-item>
    </mat-menu>
</mat-toolbar>