<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-md-5 col-lg-3 offset-lg-4">
                <h3 class="text-center">About</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img
                    class="img-fluid img-thumbnail float-left"
                    src="assets/img/IMG_1440.jpeg"
                    width="400"
                    height="400"
                    style="margin: 2%;"
                />
            </div>
            <div class="col-6 d-flex flex-column justify-content-center">
                <p>
                    <span style="padding-left: 3em;"></span>I combine my education with 20 years in design experience and apply it within my
                    now 6+ years in UI-UX development with functionality to produce quality SAAS or CMS applications that has exceptional
                    user experience.
                </p>
                <p>
                    <span style="padding-left: 3em;"></span>Code for me is a super power and I love a challenge and a chance to create any
                    solution for a client. It brings me so much joy to see clients succeeding. <br />The best experience honestly is helping
                    others succeed. I have the determination and drive to learn anything necessary for the project at hand.
                </p>
            </div>
        </div>
    </div>
</section>
