/*!
    *
*/
body {
  font-family: "Lato", sans-serif;
}

.filter-button {
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
  color: #FFFFFF !important;
}

.filter-button:hover {
  background-color: #FFFFFF !important;
  color: #5bc0de !important;
}

.btn-outline-info {
  color: #5bc0de !important;
  background-color: transparent;
  background-image: none;
  border-color: #5bc0de !important;
}

.btn-outline-info:hover {
  color: #ffffff !important;
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
}

.btn-outline-info.active {
  color: #ffffff !important;
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
}

.gallery_product {
  padding-top: 10px;
  font-size: 0;
  margin: 0 auto;
  width: 58.5%;
  text-align: center;
  display: inline-block;
}

#floated_img {
  width: 100%;
  height: 217px;
  display: inline-block;
}

.activeImage {
  height: 217px;
  width: 100%;
  background-color: #5bc0de;
}

#floated_img img.top {
  float: left;
  display: inline-block;
  opacity: 1;
}

/* #floated_img img.top:hover {
  opacity: 0.1;
} */
.text {
  border-top-color: #ffffff;
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  cursor: pointer;
  margin: 2em auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

.nav-item {
  margin: 0.5em;
}

.nav-link {
  display: inline;
  padding: 0.5em;
}

/* All Sections */
section {
  margin-top: 60px;
  margin-bottom: 40px;
}

section h3 {
  border-top: 4px solid #5bc0de;
  padding-top: 10px;
  margin-bottom: 40px;
}

/* end all sectons */
/* Nav */
nav {}

nav span {
  color: #5bc0de;
  text-align: right;
  margin: 10px 0 10px 10px;
  padding: 10px 0 10px 10px;
}

nav span:hover {
  color: #f1f1f1;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5bc0de;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px #000;
  display: block;
  transition: 0.3s
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* end Nav */
/* Home */
#Melissa-S-Langhausen-Front-end-web-designer {
  /* height: 620px; */
  background-image: url("../img/home-office-336377_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f1f1;
  text-shadow: 2px 2px 2px #000;
  border-radius: 0;
  padding: 0;
}

#Melissa-S-Langhausen-Front-end-web-designer .jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

#Melissa-S-Langhausen-Front-end-web-designer h1 {
  margin-top: 350px;
}

#Melissa-S-Langhausen-Front-end-web-designer h2 {
  margin-bottom: 150px;
}

/* Billing Page Bill */
#billingBill {
  height: 620px;
  background-image: url("../img/home-office-336377_1920.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f1f1;
  text-shadow: 2px 2px 2px #000;
  border-radius: 0;
  padding: 0;
}

#billingBill .jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

#billingBill h1 {
  margin-top: 350px;
}

#billingBill h2 {
  margin-bottom: 150px;
}

/* Nav */
nav ul li a.btn-outline-info {
  border-radius: 5px;
}

nav ul li a.btn-outline-info:hover {
  border-radius: 5px;
  box-shadow: 4px 4px 4px #000;
}

nav ul .active {
  box-shadow: 2px 2px 2px #000;
}

/* end Nav */
/* end Home */
/* About */
#about button {
  margin-bottom: 50px;
}

#about .hiddenAbout {
  display: none;
}

#about, #about #resD {
  display: none;
}

/*
#fadeOne, #fadeTwo, #fadeThree {
	display: none;
}
*/
/* end About */
/* Skillset */
#skillset {
  background-image: url("../img/blur-1853305_1920.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f1f1f1;
}

#skillset .container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px #000;
  z-index: 1;
}

#skillset h3 {
  margin-top: 60px;
}

#skillset h4 {
  color: #5bc0de;
}

#skillset ul {
  margin-bottom: 60px;
}

/* end Skillset */
/* reviews */
#reviews {
  background-image: url("../img/ipad-605420.jpg");
  height: 620px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f1f1f1;
}

#reviews h3 {
  color: #f1f1f1;
  margin-top: 100px;
  text-shadow: 2px 2px 2px #000;
}

#reviews .container-fluid {
  height: 620px;
  background-color: rgba(0, 0, 0, 0.7);
}

#reviews {
  margin-top: 80px;
}

.reviews {
  text-align: center;
}

.reviews .pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto 40px;
  border: 4px solid #5bc0de;
  overflow: hidden;
}

.reviews .pic img {
  width: 100%;
  height: auto;
}

.reviews .description {
  color: #f1f1f1;
  font-style: italic;
  line-height: 1em;
  margin-bottom: 20px;
}

.reviews .reviews-prof {
  margin: 20px 0;
}

.reviews .title {
  font-size: 20px;
  color: #5bc0de;
  margin-right: 20px;
  text-transform: capitalize;
}

.reviews .title:after {
  content: "";
  margin-left: 30px;
  border-right: 1px solid #5bc0de;
}

.reviews .reviews-prof small {
  display: inline-block;
  color: #8a9aad;
  font-size: 17px;
  text-transform: capitalize;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  opacity: 1;
}

.owl-buttons {
  position: absolute;
  top: 8%;
  width: 100%;
}

.owl-prev {
  position: absolute;
  left: 30%;
}

.owl-next {
  position: absolute;
  right: 30%;
}

.owl-prev:after,
.owl-next:after {
  content: "\f060";
  font-family: 'FontAwesome';
  width: 28px;
  height: 28px;
  font-size: 16px;
  color: #808080;
  transition: all 0.15s ease 0s;
}

.owl-next:after {
  content: "\f061";
}

@media only screen and (max-width: 479px) {
  .owl-prev {
    left: 10%;
  }

  .owl-next {
    right: 10%;
  }
}

/* end reviews */
/* Portfolio */
/* end Portfolio */
/* Contact */
/* end Contact */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/*
@media (min-width: @screen-sm-min) {

}
*/
/* Medium devices (desktops, 992px and up) */
/*
@media (min-width: @screen-md-min) {

}
*/
/* Large devices (large desktops, 1200px and up) */
/*
@media (min-width: @screen-lg-min) {

}

@media (max-width: @screen-xs-max) {

}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {


}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
*/