<section id="about" class="d-flex flex-column justify-content-center h-100">
    <div class="container">
        <app-section-title [title]="sectionTitleConfig['title']" [class]="sectionTitleConfig['class']"></app-section-title>
        <div class="row">
            <div class="col-xs-12 col-md-6 m-auto">
                <img
                    class="img-fluid img-thumbnail float-left"
                    src="assets/img/IMG_1440.jpeg"
                    width="400"
                    height="400"
                    style="margin: 2%;"
                />
            </div>
            <div class="col-xs-12 col-md-6 m-auto">
                <p>
                    <span class="pl-4"></span>Have 10* years experience in Front End Development and 2+ years with Angular 8. Can Implement
                    an exciting and streamlined user experience with Angular in the form of SaaS Enterprise Applications.
                </p>
                <p>
                    <span class="pl-4"></span>As an Angular Developer, I have extensive knowledge of anticipating what is likely to change
                    and what is not, preventing and detecting human errors, also am proficient in JavaScript/Typescript, HTML5, CSS3.
                </p>
                <p>
                    <span class="pl-4"></span>Ultimately, am a competitive Angular Developer who can design and build a streamlined
                    application to company specifications that perfectly meet the needs of the client and user.
                </p>
            </div>
        </div>
    </div>
</section>
