#skillset {
  .container-fluid {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .mat-stepper-horizontal {
    min-height: 460px !important;
  }

  .mat-list-base .mat-list-item {
    height: 20px !important;
  }
}
