<section id="skillset">
    <div class="container-fluid">
        <div class="container">
            <app-section-title [title]="sectionTitleConfig['title']"></app-section-title>
            <div class="row">
                <div class="col pb-4">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper class="m-auto">
                        <ng-container *ngFor="let skills of skillsetData">
                            <mat-step>
                                <div class="h-100 w-100 d-flex flex-column align-items-center">
                                    <ng-template matStepLabel>{{ skills.title }}</ng-template>
                                    <mat-list class="list-unstyled text-dark" *ngFor="let item of skills.items">
                                        <mat-list-item>{{ item }}</mat-list-item>
                                    </mat-list>
                                </div>
                            </mat-step>
                        </ng-container>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</section>
